@model IEnumerable<MVCWebApp.Models.AddressBook>

@{
    ViewBag.Title = "Index";
}
<br/>

<p>
   <a href="@Url.Action("AddOrEdit", "AddressBook")" class="btn btn-default"><i class="fade fa-plus"></i> Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>Actions</th>
    </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit", "AddressBook", new { id = item.Id})" class="btn btn-default"><i class="fa fa-pencil"></i>  Edit</a>
            <a onclick="Delete(@item.Id)" class="btn btn-default"><i class="fa fa-trash"></i>  Delete</a>
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Web AddressBook','Are You Sure to Delete this Record ?',function(){
                window.location.href  = '@Url.Action("Delete", "AddressBook")/'+id;
            },null );
        }
    </script>
    }
